<% include shared/header.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Buzz Ads</h2>
      <h4>Classified Ads Application</h4>      
      <p>Buzz Ads is a classified Avertising Company with purpose helping people to find good buy & sell deals.</p>
      <a href="/contact" class="btn btn-default btn-lg">Contact Us</a>
      <a href="/shop" class="btn btn-default btn-lg">Explore Products</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal stats"></span>
    </div>
  </div>
</div>

<% include shared/footer.ejs %>